body{font-family: 'Open Sans', sans-serif!important;font-weight:300;}
.row{margin-bottom:0px!important;}
table input {height: 1rem!important;}
th{padding-top:5px!important;padding-bottom:5px!important;}
#indicadores{text-align:center;}
.container {
    width: auto;
}
 h3{font-weight:bold;}
.info{font-weight:bold;padding: 5px 0;text-align:center;}
.infoLabel{font-size:10px;text-align:left;padding: 5px 0px;clear:both;width:100%;display:block;}
fieldset{margin-top:5px!important;}
legend{margin-bottom:0px;}
.labelAuditoria{background:#4312AE; padding:5px 5px; color:#fff;}
.red{color:#fff;background:#A2000C;}
.blue{color:#fff;text-align:center;}
.yellow{background:#FFDD00;}
.green{background:#00BD39;}
.col3{padding:0px!important;}
.space{border:none;margin-top:5px;margin-bottom:5px;}
#contratosBar{padding:3px;}
input{text-align:center;}

.hide{display:none;}
/** Tabela **/
#tabelaIndicadores{border: 1px solid #000;}
#tabelaIndicadores td, th{border-left: 1px solid #000;}
#tabelaIndicadores input{border:none;margin-bottom:0px;font-size:0.8em;}
#tabelaIndicadores tr{border-bottom:1px solid #000;}
#tabelaIndicadores td, th{font-size:0.9em; padding-top:3px;padding-bottom:3px;}
/* ================= Cores ================*/
.diamante{background:#b9f2ff;}
.ouro{background:#FFEE6F;}
.prata{background:#E8E8EA;}
.bronze{background:#cd7f32;}
.cobre{background:#ff9d9d;}




/* ================ FONTS =============== */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:  local('Open Sans Light'), 
        local('OpenSans-Light'),
        /* EE */
        url('../../../../system/common-ui/resources/themes/crystal/opensans-light.eot') format('embedded-opentype'),
        url('../../../../system/common-ui/resources/themes/crystal/opensans-light.woff') format('woff'),
        url('../../../../system/common-ui/resources/themes/crystal/opensans-light.ttf') format('truetype'),
        url('../../../../system/common-ui/resources/themes/crystal/opensans-light.svg#OpenSansLight') format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:  local('Open Sans'), 
        local('OpenSans'),
        /* EE */
        url('../../../../system/common-ui/resources/themes/crystal/opensans-regular.eot') format('embedded-opentype'),
        url('../../../../system/common-ui/resources/themes/crystal/opensans-regular.woff') format('woff'),
        url('../../../../system/common-ui/resources/themes/crystal/opensans-regular.ttf') format('truetype'),
        url('../../../../system/common-ui/resources/themes/crystal/opensans-regular.svg#OpenSansRegular') format('svg');
}